<div class="row" style="margin-left: 20px; margin-top: 30px">
    <div class="col-sm-6">
  <div [hidden]="submitted">
    <h1>Travel Request Form</h1>
    <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
      <div class="form-group">
        <label for="Origin">Origination Airport</label>
        <input type="text" class="form-control" id="Origin"
               required
               [(ngModel)]="model.origin" name="Origin"
               #name="ngModel">
      </div>

      <div class="form-group">
        <label for="Destination">Destination Airport</label>
        <input type="text" class="form-control" id="Destination"
               [(ngModel)]="model.destination" name="Destination">
      </div>

      <div class="form-group">
        <label for="Date">Travel Date</label>
        <input type="date" class="form-control" id="Date"
               [(ngModel)]="model.date" name="Date">
      </div>

      <div class="form-group">
        <label for="travelerAmount">Traveler Amount</label>
        <input type="number" class="form-control" id="travelerAmount"
                [(ngModel)]="model.travelerAmount" name="travelerAmount">
      </div>

      <button type="submit" class="btn btn-success" (click)="onSubmit()">Submit</button>
</form>
</div>
</div>
<div class="col-sm-4 alert alert-success" style="margin-bottom: 300px; margin-left: 50px;">
  <h3>
    The total amount for the trip with {{model.travelerAmount}} passengers is ${{ model.total }}
  </h3>
</div>
</div>







